/* reset */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
/* fine reset */

/* common parts */
body {
    font-family: 'Rubik Mono One', sans-serif;
}
/* fine common parts */

/* top right buttons */

.buttons {    
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 1;        
}

.buttons li {
    list-style-type: none; 
    display:inline-block;
    width: 50px;
    height:50px;
    border-radius: 50%;    
    text-align: center;
    line-height: 50px;
    background-color: white; 
    margin:10px;   
}
/* fine top right buttons */

/* container */
.shoes {
    width: 100%;
    height: 100vh;   
    position: relative;     
}

.box {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.box p {
    text-align: center;
    font-size: 3vw;
    color: yellow;
}

/* red section */
.background-red {
    background-color: red;
}
/* fine red section */

/* green section */
.background-green {
    background-color:green;
}
/* fine green section */

/* yellow section */
.background-yellow {
    background-color: yellow;
}

.background-yellow p {
    color:green;
}
/* fine yellow section */

/* fine container */

